.OnlineUsers {
  background-color: rgba(255, 255, 255, 0);
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 200px;
  position: fixed;
  left: 20px;
  top: 80px;
}


.container {
  overflow-y: auto;

}
.online-indicator {
  width: 10px;
  height: 10px;
  background-color: rgb(67, 245, 67);
  border-radius: 50%;
}

.user-container {
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  height: 20px;
  background-color: white;
}

.icon {

}

.crowd {
  background-color: rgb(8, 238, 93);
  border-radius: 50%;
  padding: 2px;
  /* border: 1px solid rgb(8, 238, 93); */
}


.openDownAnimation {
	height: 200px;
  animation: openDown 1s ;
}

.closeUpAnimation {
  height: 0px;
	animation: closeUp 0.5s ;
  overflow-y: hidden;
}


@keyframes openDown {
	0% {
		height: 0px;
	}
	100% {
		height: 200px;
	}
}

@keyframes closeUp {
	0% {
		height: 200px;
	}
	100% {
		height: 0px;
	}
}