.Chat {
  background-color: white;
  height: calc(100% - 50px);  
}

.content-entry {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;;
  /* border: black solid 1px; */
}