
.selector {
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  margin: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: space-evenly; */
}

.selected {
  background-color: rgb(173, 172, 172);
}

.selector-option {
  display: 'flex';
  height: '100%';
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100px;
  width: '100%';
  cursor: pointer;
  /* width: '100%'; */
}

.selector-option:hover {
  background-color: rgb(167, 153, 153);
}

.verticalline {
  height: '100%';
  width: 1px;
  background-color: black;
  /* border-left: 1px solid red; */
}